/* Global app styles */
@import "../node_modules/leaflet/dist/leaflet.css";


/* Reset body */
body {
  margin: 0; /* Reset any browser margin */
  background-color: #282c34;
  color: black;
  text-align: center;
  min-height: 100vh;
  padding-top: 5rem;
}

/* Image in product detail */
.product-detail-img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

/* Buttons */
button.btn {
  font-weight: 600; /* semi-bold */
}

